body {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   background-color: #a1a1a1;
}

.title {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 35px;
   text-align: center;
   background-color: #555555;
   border-radius: 5px;
   padding: 0px 3px 0px 3px;
}

.subtitle {
   height: 100%;
   color: wheat;
   font-size: 16px;
   font-weight: 500;
   display: flex;
   align-items: center;
}

.button {
   width: 35px;
   height: 35px;
   border-radius: 10px;
   background-color: teal;
   color: wheat;
}



/* стили для СПИСКА СТАРТ */


.countries-list {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   width: 10%;
   min-width: 200px;
   background-color: #404040;
   height: 100%;
   border-radius: 5px;
}

.main-list {
   position: absolute;
   left: 0;
   top: 50px;
   width: 100%;
   height: 700px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   align-self: flex-end;
   padding: 5px;
}



.instead-form {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 100px;
   margin-bottom: 20px;
}

#covid-parameters {
   width: 100%;
   height: 35px;
   border-radius: 5px;
   font-size: 15px;
   text-align: center;
   background-color: teal;
   color: wheat;
   cursor: pointer;
   position: relative;
}

.search-button {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 40px;
   margin-bottom: 20px;
}

.search-covid {
   height: 100%;
   border-radius: 3px;
   border: 1px solid #ddd;
   outline: none;
   padding: 10px;
   width: 150px;
}

.covid-results {
   width: 100%;
   height: 500px;
}


.countries {
   width: 100%;
   list-style: none;
   height: 500px;
   overflow: auto;
}

.countries>[data-scroll] {
   cursor: pointer;
   text-align: center;
   display: block;
   background-color: rgba(0, 0, 0, .05);
}

.country-item {
   background-color: #5c5c5c;
   border-radius: 3px;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   align-items: center;
   padding: 5px;
   margin-bottom: 10px;
   cursor: pointer;
   width: 100%;
}



.country-item__name {
   width: 60%;
   text-align: center;
}

.country-item__info {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 40%;
}

.country-item__value {
   color: red;
   font-weight: bold;
   letter-spacing: .5px;
   text-align: center;
}

.country-item__flag {
   margin-bottom: 5px;
   width: 100%;
   max-width: 40px;
}


/* стили для СПИСКА КОНЕЦ */


.everything-else {
   width: 90%;
   height: 100%;
}

/* стили для ТАБЛИЦЫ СТАРТ */


.table-chart {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   height: 380px;
}

.table {
   display: flex;
   flex-direction: column;
   width: 10%;
   min-width: 200px;
   height: 100%;
   background-color: #272727;
}

.main-table {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
   padding: 5px;
   height: 100%;
}

.toggles {
   height: 100px;
   width: 100%;
}

.title-territory {
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   font-size: 20px;
}

.object {
   width: 100%;
   text-align: center;
   color: wheat;
}

.population {
   width: 100%;
   text-align: center;
   color: wheat;
}

.covid-values {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: space-between;
   width: 100%;
   font-size: 20px;
}

.covid-data {
   cursor: pointer;
   width: 100%;
   background-color: #5c5c5c;
   border-radius: 3px;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
   margin: 3px 0px;
   text-align: center;
   padding: 3px;
}

.text {
   color: snow;
   margin-bottom: 2px;
}

.covid-value {
   color: red;
}



/* стили для ТАБЛИЦЫ КОНЕЦ */


/* стили для ГРАФИКА СТАРТ */


.chart-wrapper {
   display: flex;
   align-items: center;
   width: 60%;
   height: 100%;
}

.chart {
   height: 100%;
}





/* стили для ГРАФИКА КОНЕЦ */



/* стили для КАРТЫ СТАРТ */


.container-world-map {
   width: 100%;
   height: 380px;
   display: flex;
   justify-content: center;
}

#map {
   width: 100%;
   height: 100%;
}

.info {
   padding: 3px 3px;
   font: 14px;
   border-radius: 5px;
   background-color: teal;
   color: wheat;
}

.info h4 {
   margin: 0 0 5px;
   color: wheat;
   font-size: 14px;
}

.legend {
   background-color: teal;
   line-height: 14px;
   font-weight: 700;
   color: wheat;
}

.legend i {
   width: 12px;
   height: 12px;
   float: left;
   margin-right: 3px;
}

/* стили для КАРТЫ КОНЕЦ */